/* common */
body {
  background: #ccc;
  font-size: 16px;
}

/* supporting */


/* custom elements */
.video-wrapper {
  position: relative;
  width: 850px;
  margin: 0 auto;
  margin-top: 50px;
}

.button-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  display: none;
}

.visible {
  display: block;
}

.primary-button {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  text-align: center;
  padding: 5px 25px;
  margin: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
}